* {
  font-family: 'Lucida Sans';
  box-sizing: border-box;
  background-color: black;
}

/* .p {
  text-align: right;
  font-size: large;
} */

.box {
  margin: 40px;
  border: 1px solid rgb(7, 173, 137);
  height: 200px;
}

.hidden-link {
  display: none;
}

.box:hover .hidden-link {
  display: inline-block;
  color: rgb(15, 10, 86);
}

a:link {
  text-decoration: none;
}

.container {
  flex-direction: column;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
